<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/stye.css">
    <title>América Mineiro</title>
    <style>
        .img {
            text-align: center;
        }

        body {
            background-color: green;
        }
        
    </style>
</head>

<body>
    <div class="img">
        <header>
            <img src="../assets/img/america-mg.png" alt="américa-mg">
        </header>
    </div>

    <main>
        <h1>América Mineiro</h1>

        <p>Data de Criação: 30/04/1912 <br>
            Maior titulo: Deca campeonato mineiro <br>
            Maior Rival: <a href="https://cruzeiropedia.org/Cruzeiro_Esporte_Clube" target="_blank" rel="next">Cruzeiro</a> &
            <a href="atletico-mg.html" target="_blank"> Atlético Mineiro</a>
        </p>

        <p>
            <a href="../index.html" rel="prev">voltar</a>
        </p>
    </main>

    <footer>
        <h4>Desenvolvido By:<a href="https://github.com/GuilhermeCOS"> Guilherme Camilo</a></h4>
    </footer>
</body>

</html>