<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/stye.css">
    <title>Corinthias</title>
        <style>
       p{
        text-align: center;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
       }  
       .img{
        text-align: center;
       }

       body{
        background-image: linear-gradient(to left, black, red, white);
       }
        </style>
</head>

<body>
    <div class="img">
        <header>
            <img src="../assets/img/corinthians.png" alt="Corinthias">
   </header>

    </div>

    <main>
     
        <h1>Corinthians</h1>

        <p>Data de Criação: 01/09/1910<br>
            Maior titulo: Mundial de Clubes(2X) <br>
            Maior Rival:<a href="palmeiras.html" rel="next" target="_blank"> Palmeiras</a>, <a href="santos.html" rel="next" target="_blank">Santos</a> & <a href="sp.html" rel="next" target="_blank">São Paulo</a>
        </p>
    </main>

    <footer>
        <p>
            <a href="../index.html" rel="prev" style="color: blue;">voltar</a>
        </p>
        <h4>Desenvolvido By:<a href="https://github.com/GuilhermeCOS"> Guilherme Camilo </a></h4>
    </footer>
</body>

</html>