<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/stye.css">
    <title>Fluminense</title>
        <style>
       p{
        text-align: center;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
       }  
       .img{
        text-align: center;
       }

       body{
        background-image: linear-gradient(to left, green, red, whitesmoke);
       }
        </style>
</head>

<body>
    
    <div class="img">
        <header>
            <img src="../assets/img/flu.png" alt="Fluminense">
   </header>

    </div>

    <main>
     
        <h1>Fluminense</h1>

        <p>Data de Criação: 21/01/1902<br>
            Maior titulo: Campeonato Brasileiro (4X) <br>
            Maior Rival: <a href="fla.html" rel="next" target="_blank">Flamengo</a>, <a href="botafogo.html" rel="next" target="_blank">Botafogo</a>, <a href="https://pt.wikipedia.org/wiki/Club_de_Regatas_Vasco_da_Gama" target="_blank" rel="next">Vasco</a>
        </p>
        <p><a href="../index.html" rel="prev" style="color: blue;">voltar</a></p>
    </main>

    <footer>
       
        <h4>Desenvolvido By:<a href="https://github.com/GuilhermeCOS"> Guilherme Camilo </a></h4>
    </footer> 
</body>

</html>