<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/stye.css">
    <title>Fortaleza</title>
    <style>
        p {
            text-align: center;
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .img {
            text-align: center;
        }

        body {
            background-image: linear-gradient(to right, red, blue);
        }
    </style>
</head>

<body>
    <div class="img">
        <header>
            <img src="../assets/img/fortaleza.png" alt="Fortaleza">
        </header>
    </div>

    <main>

        <h1>Fortaleza</h1>

        <p>Data de Criação: 18/10/1918 <br>
            Maior titulo: Campeonato Brasileiro Série B<br>
            Maior Rival: <a href="ceará.html" target="_blank" rel="next">Ceará </a>
        </p>
        <p><a href="../index.html" rel="prev" style="color: blue;">voltar</a></p>
    </main>

    <footer>
    
        <h4>Desenvolvido By:<a href="https://github.com/GuilhermeCOS"> Guilherme Camilo </a></h4>
    </footer>
</body>

</html>